/* apply a natural box layout model to all elements, but allow components to change */
html {
	box-sizing: border-box;
	min-height: 100%;
}
*, *:before, *:after {box-sizing: inherit;}

/* Mini Reset */
* {
	margin: 0;
	padding: 0;
	border: 0 none;
}

/* Common Style */

::-moz-selection {
	background: #EBAC4E;
	color: #303239;
}
::selection {
	background: #EBAC4E;
	color: #303239;
}

body {
	background: #f8f8f5;
	color: #000;
	-moz-font-feature-settings: "liga=1, rlig=1, kern=1";
	-ms-font-feature-settings: "liga" on, "rlig" on, "kern" on;
	-o-font-feature-settings: "liga" on, "rlig" on, "kern" on;
	-webkit-font-feature-settings: "liga" on, "rlig" on, "kern" on;
	font-feature-settings: "liga" on, "rlig" on, "kern" on;
}

section.intro {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 52vw;
	margin: 8vw auto;
}

section.shots {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 90vw;
	margin: 0 auto;
}

h1 {
	font-size: 3vw;
	line-height: 4vw;
	font-weight: 400;
	font-family: "Playfair Display", serif;
	color: #000;
	padding-bottom: 2vw;
/*	
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
	background-image: radial-gradient(#aaadba, #868a97, #303239);
	background-size: 200% 200%;
	background-position: 0 0;
*/
}

h1 span {font-weight: 700;}

p {
	font-size: 1.15vw;
	line-height: 2.5vw;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;
	animation: fade 2s ease-out -.65s;
	padding-bottom: 2vw;
}

p:last-child {padding-bottom: 0;}

a {
	color: #000;
	text-decoration: none;
	white-space: nowrap;
	position: relative;
}

a.more {margin: 0 0 0 .5vh;}

a:hover {color: #b96e2b;}

a:after {
	content: '';
	width: 0;
	height: 1.5px;
	background: #b96e2b;
	position: absolute;
	bottom: -5px;
	left: 0;
	-webkit-transition: width 0.25s ease;
	-moz-transition: width 0.25s ease;
	-ms-transition: width 0.25s ease;
	-o-transition: width 0.25s ease;
	transition: width 0.25s ease;
}

a:hover:after {width: 100%;}


/* SHOTS **************************************************/
.shotlist {
    margin-bottom: 2em;
    min-height: 500px;
}

.shotlist .shotitem {
    display: inline-block;
    margin: 20px;
    position: relative;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: calc(50% - 40px);
}

.shotlist .shotitem .item {
    border-radius: 5px;
    position: relative;
    visibility: hidden;
    width: 100%;
}


/* ANIMATIONS ***********************************************/
.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show {
    0%{opacity:0}
    100%{opacity:1}
}

/* MEDIA QUERIES *******************************************/
@media(max-width:750px) {
    .shotlist .shotitem {
        display: block;
        width: calc(100% - 40px);
    }
}


/*
@keyframes fade {
  0%, 75% {opacity: 0;}
  100% {opacity: 1;} 
}

@keyframes border {
  0% {background-position: 0 0;}
  20% {background-position: 100% 0;}
  40% {background-position: 100% 100%;}
  60% {background-position: 0 100%;}
  100% {background-position: 0 0;} 
}
*/

@media all and (max-width: 640px) {
  section {max-width: 75vw;}
  h1 {
    	font-size: 6vw;
    	line-height: 7.5vw;
    	margin-bottom: 4vw;
  }
  p {
	font-size: 2.5vw;
	line-height: 5vw;
	padding-bottom: 4vw;
  }
}
