/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Mini Reset */
* {
	margin: 0;
	padding: 0;
	border: 0 none;
}

/* Common Style */

body {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.6;
	color: #52526C;
}

h1, h2, h3 {
	margin-bottom: 1em;
	font-weight: 400;
}
h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h1 span {
  font-weight: 600;
  font-style: italic;
}

p {margin-bottom: 1.5em;}

a {
	color: #84859F;
	text-decoration: none;
	padding: 0 4px;
}
a:hover, a:focus {
	background-image: linear-gradient(to bottom, transparent 0, #DCF6F9 0);
  background-position: 0 0.8em;
  background-repeat: no-repeat;
}

img {
	max-width: 100%;
	display: block;
}
img ~ img {margin-top: 14px;}

.lt, .meta {color: #A2B3D0;}

blockquote {
	display: block;
  margin: 1.5em 0;
  padding: 0 0.8em;
  border-left: 5px solid #EAEAFF;
  font-size: 0.85em;
  color: #84859F;
}

cite {
	color: #A2B3D0;
	font-style: normal;
	padding: 0 0 0 8px;
}

article {font-size: 100%;}

section {
	max-width: 1300px;
	margin: 0 auto;
	padding: 8% 18%;
}
section.intro {
  text-align: center;
	max-width: 1400px;
	padding: 8% 12%;
}

footer {
	font-size: .85em;
	text-align: center;
	margin: 4em;
	clear: both;
	padding: 0;
}
footer a {color: #A2B3D0;}
footer a:hover, footer a:focus {
  background-image: none;
  color: #667DA9;
}

/* Image Grids */

.grid {
	width: 100%;
	max-width: 1200px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	margin: .5%;
	width: 49%;
	width: -webkit-calc(98% / 2);
	width: calc(98% / 2);
	opacity: 0;
}
.grid-full li {
	width: 99%;
	width: -webkit-calc(99% / 1);
	width: calc(99% / 1);
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
	overflow: hidden;
	padding: 0;
}

.grid li figure {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	background: -webkit-linear-gradient(left, rgba(41,121,255,0.8), rgba(0,169,255,0.8));
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: all 0.4s ease;
}

.grid li h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	font-weight: 800;
	text-align: center;
	padding: 10%;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.grid li:hover figure {opacity: 1;}

.grid.fade li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

/* Dribbble Stream */
.shots {
	overflow: hidden;
	height: auto !important;
}

.shots li {
	opacity: 1;
	width: 24%;
	width: -webkit-calc(96% / 4);
	width: calc(96% / 4);
}

/* Back Link */
a.back {
	display: block;
	width: 100%;
	padding: 40px;
	background: url(/img/back.svg) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	border: none;
	outline: none;
	display: none;
}
a.back:hover {
	opacity: 0.8;
	cursor: pointer;
}

#trigger-overlay {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 4em;
	overflow: hidden;
	border: none;
	background: transparent;
	background: url(/img/menu.svg) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
}
#trigger-overlay:hover {
	opacity: 0.8;
	cursor: pointer;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #2979FF;
}

/* Overlay close */
.overlay .overlay-close {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 4em;
	overflow: hidden;
	border: none;
	background: url(/img/close.svg) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

.overlay .overlay-close:hover {
	opacity: .8;
	cursor: pointer;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 11%;
	line-height: 1.2;
	height: calc(100% / 9);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay ul li a {
	display: block;
	color: #fff;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	opacity: .8;
	background: transparent;
}

/* Effects */
html, body {
	overflow-x: hidden;
}

.container {
	overflow-x: hidden;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;	
}

.container.overlay-open {
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
}

.container::after {
	content: '';
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.container.overlay-open::after {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-contentpush {
	background: -webkit-linear-gradient(left, #2979FF, #00A9FF);
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentpush.open {
	visibility: visible;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

/* Media Queries */
@media screen and (max-width: 500px) {
	section {
		padding: 8%;
	}
	.grid li {
		margin: 0 0 .5%;
		width: 100%;
		width: -webkit-calc(100% / 1);
		width: calc(100% / 1);
	}
	#trigger-overlay {display: none;}
	a.back {display: block;}
}
@media screen and (max-height: 30.5em) {
	.overlay nav {height: 70%;}
	.overlay ul li {min-height: 34px;}
}
