/* apply a natural box layout model to all elements, but allow components to change */
html {
	box-sizing: border-box;
	min-height: 100%;
}
*, *:before, *:after {box-sizing: inherit;}

/* Mini Reset */
* {
	margin: 0;
	padding: 0;
	border: 0 none;
}

/* Common Style */

::-moz-selection {
	background: #F2C261;
	color: #1D1918;
}
::selection {
	background: #F2C261;
	color: #1D1918;
}

body {
	background: #1D1918;
	background: radial-gradient(circle at top right, #1D1918, #272220);
}

.radial-gradient {
  background: #1D1918;
	background: radial-gradient(circle at top right, #1D1918, #272220);
}

section.intro {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 40vw;
	margin: 0 6vw;
}

section.shots {
	display: flex;
	flex-direction: column;
	max-width: 90vw;
	margin: 0 auto 4vw;
}

h1 {
	color: #EBEBEA;
	font-family: grad, serif;
	font-size: 2.25vw;
	line-height: 3vw;
	font-weight: 700;
	margin-bottom: .75vw;
	-moz-font-feature-settings: "liga=1, rlig=1, kern=1";
	-ms-font-feature-settings: "liga" on, "rlig" on, "kern" on;
	-o-font-feature-settings: "liga" on, "rlig" on, "kern" on;
	-webkit-font-feature-settings: "liga" on, "rlig" on, "kern" on;
	font-feature-settings: "liga" on, "rlig" on, "kern" on;
}

p {
	color: #7D7A79;
	font-family: proxima-nova, sans-serif;
	text-transform: uppercase;
	font-size: 1.2vw;
	line-height: 3vw;
	font-weight: 400;
	-moz-font-feature-settings: "liga=1, rlig=1, kern=1";
	-ms-font-feature-settings: "liga" on, "rlig" on, "kern" on;
	-o-font-feature-settings: "liga" on, "rlig" on, "kern" on;
	-webkit-font-feature-settings: "liga" on, "rlig" on, "kern" on;
	font-feature-settings: "liga" on, "rlig" on, "kern" on;
}

p:last-child {padding-bottom: 0;}

span {
	opacity: .4;
	padding: .5vw;
}

a {
	color: #7D7A79;
	text-decoration: none;
	white-space: nowrap;
	position: relative;
}

a.more {margin: 0 .5vh 0 0;}

a:hover {color: #A87363;}

a:after {
	content: '';
	width: 0;
	height: 1.5px;
	background: #A87363;
	position: absolute;
	bottom: -5px;
	left: 0;
	-webkit-transition: width 0.25s ease;
	-moz-transition: width 0.25s ease;
	-ms-transition: width 0.25s ease;
	-o-transition: width 0.25s ease;
	transition: width 0.25s ease;
}

a:hover:after {width: 100%;}


/* SHOTS */
.shotlist .shotitem {
  display: inline-block;
  margin: 15px;
  position: relative;
  width: calc(33% - 30px);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.shotlist .shotitem .item {
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  position: relative;
  visibility: hidden;
  width: 100%;
}

.shotlist .shotitem:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.shotlist .shotitem a:after {content: none;}



/* ANIMATIONS */
.fadeIn {
  -webkit-animation: animat_show 0.8s;
  animation: animat_show 0.8s;
  visibility: visible !important;
}

@-webkit-keyframes animat_show {
    0%{opacity:0}
    100%{opacity:1}
}

/* MEDIA QUERIES */

@media all and (max-width: 640px) {
	
	h1 {
		font-size: 5.5vw;
		line-height: 7.5vw;
		margin-bottom: 2vw;
	}
	
	p {
		font-size: 2.75vw;
		line-height: 7.5vw;
	}
	
	section.intro {
		height: 80vh;
		margin: 4vw auto;
		max-width: 84vw;
	}
	
  .shotlist .shotitem {
    display: block;
		width: calc(100% - 40px);
  }
  
}