/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Mini Reset */
* {
	margin: 0;
	padding: 0;
	border: 0 none;
}

/* Common Style */

body {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #222;
}

h1 {
	font-family: "Quicksand", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 1.5em;
}
h2 {
  font-size: 1em;
}

p {margin-bottom: 1.5em;}

a {
	color: #999;
	text-decoration: none;
}
a:hover, a:focus {border-bottom: 1px solid #999;}

a.prefer {
	color: #ED1C24;
	/*color: #FF3951;*/
}
a.prefer:hover, a.prefer:focus {border-bottom: 1px solid #ED1C24;}

a.df {color: #00A293;}
a.df:hover, a.df:focus {border-bottom: 1px solid #00A293;}

img {
	max-width: 100%;
	display: block;
}
img ~ img {margin-top: 14px;}

section {
	max-width: 900px;
	margin: 0;
	padding: 8%;
	clear: both;
}

footer {
	font-size: .85em;
	opacity: .5;
	margin: 2% 8%;
	clear: both;
	padding: 0;
}

/* Image Grids */

.grid {
	width: 100%;
	max-width: 1200px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	margin: 0;
	width: 25%;
	width: -webkit-calc(100% / 4);
	width: calc(100% / 4);
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
	overflow: hidden;
	padding: 0;
}

.grid.fade li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

/* Dribbble Stream */
.shots {
	overflow: hidden;
	height: auto !important;
}

.shots li {
	opacity: 1;
	width: 24%;
	width: -webkit-calc(96% / 4);
	width: calc(96% / 4);
}

/* Media Queries */
@media screen and (max-width: 500px) {
	section, section.intro {
		padding: 8% 6%;
	}
	.grid li {
		margin: 0 0 .5%;
		width: 100%;
		width: -webkit-calc(100% / 1);
		width: calc(100% / 1);
	}
	a.back {
    position: relative;
    margin: 0 auto;
    padding: 2em;
  }
}