/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	background: #F8F8FF;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Mini Reset */
* {
	margin: 0;
	padding: 0;
	border: 0 none;
}

/* Common Style */

body {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: radial-gradient(#fff29e, #ff4444, #5a5ae6);
	background-size: 200% 200%;
	background-position: 0 0;
	animation: border 5s linear infinite;
	border: 2.5vw solid #303239;
}
body:after {
	content: "";
	background: #303239;
	position: absolute;
	top: 0.5vw;
	right: 0.5vw;
	bottom: 0.5vw;
	left: 0.5vw;
}

h1 {
  font-size: 1.75em;
  font-weight: 900;
  line-height: 1.25;
  margin-bottom: 15px;
}

p {margin-bottom: 1.5em;}

a {
	color: #667DA9;
	text-decoration: none;
	padding: 0 4px;
}
a:hover, a:focus {
	background-image: linear-gradient(to bottom, transparent 0, #DCF6F9 0);
  background-position: 0 0.8em;
  background-repeat: no-repeat;
}

section {
	max-width: 1300px;
	margin: 0 auto;
	padding: 8% 24%;
	clear: both;
}