/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	background: #F8F8FF;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Mini Reset */
* {
	margin: 0;
	padding: 0;
	border: 0 none;
}

/* Common Style */

body {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: radial-gradient(#fff29e, #ff4444, #5a5ae6);
	background-size: 200% 200%;
	background-position: 0 0;
	animation: border 5s linear infinite;
	border: 2.5vw solid #fff;
	color: #fff29e;
}
body:after {
	content: "";
	background: #fff;
	position: absolute;
	top: 4vw;
	right: 4vw;
	bottom: 4vw;
	left: 4vw;
}

section {
	display: flex;
	flex-direction: column;
	padding-bottom: 1vw;
	position: relative;
	z-index: 10;
	max-width: 60vw;
}

h1 {
	font-size: 4vw;
	line-height: 5vw;
	color: #d5d8e3;
	font-weight: 700;
	font-family: "Playfair Display", serif;
	animation: fade 2s ease-out -.65s;
	padding-bottom: 1vw;

}

p {
	font-size: 1vw;
	line-height: 2vw;
	color: #d5d8e3;
	font-weight: 700;
	font-style: italic;
	font-family: "PT Sans", sans-serif;
	letter-spacing: 0.2vw;
	animation: fade 2s ease-out -.65s;
}

a {
	color: #d5d8e3;
	text-decoration: none;
	white-space: nowrap;
	position: relative;
	margin .5vw;
}

a:after {
	content: '';
	width: 0;
	height: 2px;
	background: #d5d8e3;
	position: absolute;
	bottom: -5px;
	left: 0;
	-webkit-transition: width 0.25s ease;
	-moz-transition: width 0.25s ease;
	-ms-transition: width 0.25s ease;
	-o-transition: width 0.25s ease;
	transition: width 0.25s ease
}

a:hover, a:focus {

}

a:hover:after {
	width: 100%;
}