/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	background: #F8F8FF;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Mini Reset */
* {
	margin: 0;
	padding: 0;
	border: 0 none;
}

/* Common Style */

body {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #F9FAFE;
	/*background-image: radial-gradient(#82D9FF, #3866B5, #FF6174);
	background-size: 200% 200%;
	background-position: 0 0;
	animation: border 5s linear infinite;*/
	border: 2.5vw solid #fff;
	color: #222;
}
body:after {
	content: "";
	background: #fff;
	position: absolute;
	top: 2.5vw;
	right: 2.5vw;
	bottom: 2.5vw;
	left: 2.5vw;
}

section {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 10;
	max-width: 60vw;
}

h1 {
	font-size: 3vw;
	line-height: 4vw;
	font-weight: 700;
	font-family: "Playfair Display", serif;
	animation: fade 2s ease-out -.65s;
	padding-bottom: 2.2vw;
	
	/* if we can clip, do it */
  /*-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;*/

  /* what will show through the text */
	/*background-image: radial-gradient(#82D9FF, #3866B5, #FF6174);
	background-size: 200% 200%;
	background-position: 0 0;*/

  /* fallback text color */
  color: #222;

}

p {
	font-size: 1vw;
	line-height: 2vw;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.1vw;
	animation: fade 2s ease-out -.65s;
	padding-bottom: 1.8vw;
}

a {
	color: #222;
	text-decoration: none;
	white-space: nowrap;
	position: relative;
	margin .5vw;
}

.more a { margin: 1vh; }

a:after {
	content: '';
	width: 0;
	height: 1.5px;
	background: #222;
	position: absolute;
	bottom: -5px;
	left: 0;
	-webkit-transition: width 0.25s ease;
	-moz-transition: width 0.25s ease;
	-ms-transition: width 0.25s ease;
	-o-transition: width 0.25s ease;
	transition: width 0.25s ease
}

a.prefer {color: #FF3951;}
a.prefer:after {background: #FF3951;}
a.df {color: #00c4b3;}
a.df:after {background: #00c4b3;}


a:hover:after {
	width: 100%;
}