  <ul class="grid fade" id="grid">
    <li><img src="img/work/adobeclustering.png" alt="clustering insights" /></li>
    <li><img src="img/work/hackthings.png" alt="hackathon art" /></li>
    <li><img src="img/work/lookout-console.png" alt="Lookout console" /></li>
    <li><img src="img/work/lookout-consolereports.png" alt="Lookout console reports" /></li>
    <li><img src="img/work/launchpad-biztype.png" alt="charting out compliance rules" /></li>
    <li><img src="img/work/launchpad.png" alt="experimental app" /></li>
    <li><img src="img/work/kryptonx.png" alt="Krypton Anonymous" /></li>
    <li><img src="img/work/kryptonx-privacymanifesto.png" alt="privacy manifesto" /></li>
    <li><img src="img/work/who-interviews.png" alt="taking reflection notes after a customer interview" /></li>
    <li><img src="img/work/who-clustering.png" alt="clustering insights" /></li>
    <li><img src="img/work/who-discussion.png" alt="discussing strategy" /></li>
    <li><img src="img/work/who-filming.png" alt="filming our customers" /></li>
    <li><img src="img/work/who-provocation1.png" alt="provocation" /></li>
    <li><img src="img/work/who-provocation2.png" alt="provovation" /></li>
    <li><img src="img/work/platform-provocation1.png" alt="provovation" /></li>
    <li><img src="img/work/platform-provocation2.png" alt="provovation" /></li>
  </ul>