/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Color */

body {
    background-color: #131314;
}

a {
    text-decoration: none;
}

a, span.link {
  color: #131314;
}

a:hover {
    color:#a5a6ac;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}

h1 {
    font-family: "AvenirLT-Roman", Helvetica;
    font-weight: 500;
    line-height: 1.2em;
    color: #131314;
}

h2 {
    font-family:"Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
    color: #131314;

}

h3 {
    font-family: "AvenirLT-Heavy", Helvetica;
    font-size: 16px;
    color: #131314;

}

h4 {
    font-family: "AvenirLT-Roman", Helvetica;
    font-size: 2.3em;
    font-weight: 500;
    line-height: 1.3em;
    color: #131314;
}

.about h4 {
    margin-top: 1em;
}
p {
    font-family: "Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
    font-weight: 100;
    font-size: 13px;
    line-height: 21px;
    margin: 20px 20px 0px 0px;
    color: #131314;
}

ul {
    font-family: "Maison Mono Light", "Consolas" , monospace; font-weight:200; font-style:normal;
    font-weight: 100;
    font-size: 13px;
    line-height: 21px;
}

nav a {
    text-decoration: none;
    font-family: "Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
    font-weight: 100;
    font-size: 12px;
}

/* Composition */

#here {
    padding-top:100px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;

}
.animated.fadeIn {
    -webkit-animation-name:fadeIn;
    -moz-transition: fadeIn;
    transition: fadeIn;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.story {
    margin: 0 auto;
}


nav {
    float: right;
    word-spacing: 70px;
}

header {
    height: 75px;
    position: fixed;
    max-width: 960px;
    width: 100%;
    padding: 40px 0px 0px 0px;
}


h1 {
    float: left;
    vertical-align: baseline;
}

h2 {
    padding: 200px 0px 0px 0px;
}

h3 {
    float: left;
    clear: left;
    padding-top: 10px;
}


.concept-statement h4{
    height: 400px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
}

.about {
    margin: 250px auto;
    height: 400px;
}

#sources-list li p {
    visibility: hidden;
    margin-top:-22px;

}

#sources-list li:hover p{
    visibility: visible;
    background-color:white;
    margin-top:-22px;
}

#sources-list li:hover a{
    visibility: hidden;
}

#openingsoon {

}

#openingsoon:hover span{
    display: none;
}

#openingsoon:hover:after{
    color: #a5a6ac;
    content:" (coming soon!)";
}


ul {
    text-decoration: none;
    font-family: "Maison Mono Light", "Consolas" , monospace; font-weight:200; font-style:normal;
    font-size: 12px;
    float: right;   
}

#sources-list li {
    margin-top: 18px;
}

/* Sections */

.learning-section {
    margin-bottom: 20px;
    height: 500px;
}

.currently-learning {
    width: 500px;
    float: left;
}

.learning-list {
    width: 295px;
}

.past-section {
    margin-bottom: 20px;
    height: 600px;
}

.past-projects {
    width: 500px;
    float: left;  
}

.projects-list {
    width: 295px;
}

.sources-section {
    margin-bottom: 20px;
    height: 700px;
}

.sources {
    width: 500px;
    float: left;  
}

#sources-list {
    width: 295px;
}

.connect-section {
    height: 675px;
    margin-bottom:20px;
    margin-top:100px;
}

.contact-title {
    width: 500px;
    float: left;
}

.connect-section p {
    width: 481px;
    float: left;
}

.connect-list {
    width: 295px;
}

/* Footer */
footer {
   position:fixed;
   bottom:0px;
   height:60px;
   width: 960px;
   margin: 0 auto;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}


/* Images */
footer img {
    width: 3%;
    min-width: 15px;
    padding-left: 0px;
}

.first {
  -webkit-transition:all 0.7s ease-out;
  -moz-transition:all 0.7s ease-out;
  -ms-transition:all 0.7s ease-out;
  -o-transition:all 0.7s ease-out;
  transition:all 0.7s ease-out;
}

.first:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transform:rotate(360deg);
}


@media only screen and (max-width: 1000px){
 .container {
        width: 100%;
    }

    header {
    padding: 40px 20px 0px 20px;
    }

    .story {
        margin: 0px 20px 80px 20px;
    }

    footer img {
    padding-left: 20px;
    }

}

@media only screen and (max-width: 900px){
    .container {
        width: 100%;
    }

    header {
    padding: 40px 20px 0px 20px;
    }

    nav {
        padding-right: 40px;
    } 

    .story {
        margin: 0px 20px 80px 20px;
    }

    h4 {
        font-size: 1.9em;
    }
   
    .currently-learning {
        width: 400px;
    }

    .past-projects {
        width: 400px;
        float: left;  
    }

    .sources {
        width: 400px;
        float: left;  
    }

    .contact-title {
        width: 390px;
    }

    .connect-section p {
        width: 370px;
        float: left;
        clear: left;
    }

    footer img {
    padding-left: 20px;
    }

}

@media only screen and (max-width: 768px){
    .container {
        width: 100%;
    }

    header {
    padding: 40px 20px 0px 20px;
    }

    nav {
        display: none;
    }

    .story {
        margin: 0px 20px 80px 20px;
    }

    h4 {
        font-size: 1.5em;
        padding: 0px;
    }

    ul {
        text-decoration: none;
        font-family: "Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
        font-size: 12px;
        float: left;
        clear: left;
        padding-top: 20px;  
    }

    .learning-list {
        width: 295px;
    }

    .past-projects {
        width: 390px;
        float: left;  
    }

    .sources-list li {
        margin-top: 18px;
    }

    .contact-title {
        width: 390px;
    }

    .connect-section p {
        width: 370px;
        float: left;
        clear: left;
    }

    .connect-list {
        width: 320px;
    }

}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
    }
    
    header {
    padding: 40px 20px 0px 20px;

    }
    
     nav {
        display: none;
    }

    .story {
        margin: 0px 20px 80px 20px;
    }

    h4 {
        font-size: 1.5em;
        padding: 0px;
    }

    ul {
        text-decoration: none;
        font-family: "Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
        font-size: 12px;
        float: left;
        padding-top: 20px;  
    }

    .learning-list {
        width: 295px;
    }

    .past-projects {
        width: 390px;
        float: left;  
    }

    .sources-list li {
        margin-top: 18px;
    }

    .contact-title {
        width: 340px;
        float: left;
    }

    .connect-section p {
        width: 320px;
        float: left;
    }

    .connect-list {
        width: 320px;
    }

}

@media only screen and (min-width: 320px) and (max-width: 400px){
    body {
        width: 100%;
    }

    header {
    padding: 40px 20px 0px 20px;
    }

    nav {
        display: none;

    }

    .story {
        margin: 0px 20px 80px 20px;
    }

    h1 {
        float: left;
        vertical-align: baseline;
    }

    h2 {
        padding: 200px 0px 0px 0px;
    }

    h3 {
        float: left;
        clear: left;
        padding-top: 10px;
    }

    h4 {
        font-size: 1.5em;
        padding: 0px;
    }

    ul {
        text-decoration: none;
        font-family: "Maison Mono Light", "Consolas", monospace; font-weight:200; font-style:normal;
        font-size: 12px;
        float: left;
        padding-top: 20px;  
    }

    .past-projects {
        width: 320px;
        float: left;  
    }

    .sources-list li {
        margin-top: 18px;
    }

    .contact-title {
        width: 320px;
        float: left;
    }

    .connect-list {
        width: 320px;
    }
}


.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-o-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;
}
@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
}
@-moz-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
}
@-o-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
}
@keyframes fadeOutUp {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	-moz-animation-name: fadeOutUp;
	-o-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}
@-webkit-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
}

@-moz-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
}

@-o-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-o-transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	
	100% {
		opacity: 0;
		transform: translateY(20px);
	}
}

.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	-moz-animation-name: fadeOutDown;
	-o-animation-name: fadeOutDown;
	animation-name: fadeOutDown;
}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	
	70% {
		-webkit-transform: scale(.9);
	}
	
	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-moz-transform: scale(1.05);
	}
	
	70% {
		-moz-transform: scale(.9);
	}
	
	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-o-transform: scale(1.05);
	}
	
	70% {
		-o-transform: scale(.9);
	}
	
	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	
	70% {
		transform: scale(.9);
	}
	
	100% {
		transform: scale(1);
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}
@-webkit-keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(-30px);
	}
	
	80% {
		-webkit-transform: translateY(10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes bounceInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(-30px);
	}
	
	80% {
		-moz-transform: translateY(10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(-30px);
	}
	
	80% {
		-o-transform: translateY(10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInUp {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(-30px);
	}
	
	80% {
		transform: translateY(10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

.bounceInUp {
	-webkit-animation-name: bounceInUp;
	-moz-animation-name: bounceInUp;
	-o-animation-name: bounceInUp;
	animation-name: bounceInUp;
}
@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	
	80% {
		-moz-transform: translateY(-10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	
	80% {
		-o-transform: translateY(-10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
	}
	
	80% {
		-webkit-transform: translateX(-10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateX(30px);
	}
	
	80% {
		-moz-transform: translateX(-10px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateX(30px);
	}
	
	80% {
		-o-transform: translateX(-10px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(30px);
	}
	
	80% {
		transform: translateX(-10px);
	}
	
	100% {
		transform: translateX(0);
	}
}

.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
	}
	
	80% {
		-webkit-transform: translateX(10px);
	}
	
	100% {
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateX(-30px);
	}
	
	80% {
		-moz-transform: translateX(10px);
	}
	
	100% {
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateX(-30px);
	}
	
	80% {
		-o-transform: translateX(10px);
	}
	
	100% {
		-o-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}
	
	60% {
		opacity: 1;
		transform: translateX(-30px);
	}
	
	80% {
		transform: translateX(10px);
	}
	
	100% {
		transform: translateX(0);
	}
}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
}