<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>	
    {{ content }}
    {% include footer.html %}
    
    <script src="{{ site.url }}/js/jquery.min.js"></script>
    <script src="{{ site.url }}/js/masonry.pkgd.min.js"></script>
    <script src="{{ site.url }}/js/imagesloaded.js"></script>
    <script src="{{ site.url }}/js/classie.js"></script>
    <script src="{{ site.url }}/js/AnimOnScroll.js"></script>
    
    <script>
      if(document.getElementById("grid")){
        new AnimOnScroll( document.getElementById( 'grid' ), {
          minDuration : 0.4,
          maxDuration : 0.7,
          viewportFactor : 0.2
        } );
      }
    </script>
  </body>
</html>
